{% extends '::base.html.twig' %}
{% block content %}
<h3>About Tosho</h3>
<p>
This is a proof of concept project. The idea is lend from german TV ad about 
windows 7. In this ad, a guy in a Shoppingmall is shown shopping. 
At home his kids are sitting in front of a computer and writing stuff on a todo
list. In the same moment the typed things appear on their Dads Cell Phone.
</p>
<p>
This project is based on several great open source products.
<ul>
  <li>Knockoutjs</li>
  <li>Nodejs</li>
  <li>Not OpenSource but... pusherapp.com</li>
  <li>Symfony2</li>
  <li>memcached</li>
</ul>
</p>
{% endblock %}
