{% extends '::base.html.twig' %}
{% block content %}
<h3>Welcome to your Listmanager</h3>
<p>
This is really nice tool for organising your life. You can share your lists and 
someone can update your list on the fly and you are instantly notified about
new entries.
</p>
{% endblock %}
